* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: grid;
    grid-template-columns: 1fr 6fr 6fr 1fr;
    grid-template-rows: 1fr 3fr 1fr;
    height: 100vh;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
}

h1 {
    font-size: 2.5em;
    text-decoration: underline;
}

#intro{
    font-size: .8em;
    margin-top: 10px;;
}

.hdr {
    padding: 5px;
    grid-column:  2 / 4;
    grid-row: 1 / 2;
}

h1, button {
    font-weight: 700;
}

button {
    width: 7em;
    height: 2em;
    font-size: 1em;
    border-radius:  5px;
    background-color:  silver;
    color: teal;
    grid-column: 3 / 4;
}

button:hover {
    background-color:  teal;
    color: silver;
}

footer {
    display: flex;
    grid-column: 2 / 4;
    justify-content: center;
    color: teal;
}

.value, #box {
    border: 1px solid black;
}

.scoreboard {
     display: grid;
    flex-direction: column;
    justify-content: center;
     grid-column: 2 / 3;
     grid-row: 2 / 3;
    height: 450px;
    margin-top: 50px;
}

#subtotal, #box2, #total, #bonus, #score {
    border: 2px solid black;
}

.top-score, .bottom-score, .total1, .total2 {
    display: grid;
}

.value, #subtotal, #box, #box2, #total, #bonus {
    height: 40px;
}
.total1 {
    grid-template: repeat(2, 1fr) / repeat(2, 1fr);
}

.top-score {
    grid-template: repeat(5, 1fr) / repeat(2, 1fr);

}

.bottom-score {
    grid-template:  repeat(3, 1fr) / repeat(2, 1fr);
}

.total2 {
    grid-template: repeat(1, 1fr) / repeat(2, 1fr);
}

img {
    height: 200px;
    padding: 20px;
}

.die {
    display: flex;
    justify-content: center;
    flex-wrap: wrap; 
    grid-column: 3 / 4;
    grid-row: 2 / 3;
}